body {
    background-color: silver;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Baloo 2', cursive;
}

.card {
    position: absolute;
    left: 50px;
    right: 50px;
}

.nav-item {
    font-size: 24px;
    font-family: 'Baloo 2', cursive;
}

.card-img {
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
}

#aboutmecard {
    background-color: black;
}

.card-text {
    color: white;
    font-size: 16px;
}

.card-title {
    color: white;
    font-family: 'Baloo 2', cursive;
}